<div id="container" class="tabbertab<%= ' tabbertabdefault' if params[:section] and params[:section] == 'admin'%>">
   <h2>Admin</h2>
	<div id="main">
		<div id="column_center">
		  <ul>
		    <li><%= link_to 'Manage Users', '/manage_users'%></li>
		  </ul>
		</div>
		<div id="column_center_fade"><img src="/images/bottomAlphaFade.png"></div>
	</div>
	<div id="footer">
		<h1><a href="http://www.kitsaphauntedfairgrounds.com" target="_parent" class="center">www.kitsaphauntedfairgrounds.com</a></h1>
	</div>
</div>
