<div id="container" class="tabbertab<%= ' tabbertabdefault' if params[:section] and params[:section] == 'story'%>">
   <h2>Story</h2>
   <div id="main">
      <div id="column_center">

<span style="font-size:1.5em;font-weight:bold">Family Reunion 2011</span><br><br>
<p style="text-align:left">
One evening Ray, the night watchman at the old fairgrounds, came to clock-in. <br>
Ramona, the office secretary, handed him an envelope.<br>
“What’s this?” Ray asked, examining the childish handwriting scribbled on the front. The address was c/o Kitsap County Fairgrounds, the name read:<br>
<span style="font-weight:bold">Lester &amp; Otis</span>
<br><br>
“Who are Lester &amp; Otis?” <br>
Ramona popped her chewing gum, “You know those hicks hanging around the old barn?”<br>
“You mean the redneck carnie and the caretaker?”<br>
“Yeah, they got mail. Deliver it.”<br>
“No way.” He pushed the letter back at her, “Not my job. I’m a security guard, not a mailman”<br>
“Hey, the boss said to. So shut your mouth and have a nice time, sweety,” she patted him on the cheek before resuming her typing.<br>
Ten minutes later, Ray was trudging across the fairgrounds, grumbling about his job. As he approached the spooky old barn, he never noticed two figures in the shadows.<br>
Ray knocked on the barn, “Is anybody in there?”<br>
Suddenly, from behind him came the unmistakable roar of a chainsaw revving up. The last thing Ray heard was the chainsaw slicing into flesh – his flesh.<br>
“Dammit, Lester!” shouted Otis as he stepped from their hiding place, “I said scare ‘em, not kill ‘em!”<br>
“He looks pretty scared to me right about now,” Lester kicked at their victim on the ground, “Besides, I’m feelin’ a bit peckish.”<br>
“He does look plump and tender. Been a while since we had anything but rats and stolen chickens to eat.”<br>
“I’ll get the stewpot ready, you sharpen up the butcherin’ cleaver. Wait,… what’s this he dropped when you done vivisected him?”<br>
Lester retrieved the blood-spattered envelope from the ground, “Looks like a letter. The dern thing’s made out to us.”<br>
“Open it, then.”<br>
“Hell, Otis, you know I cain’t read.”<br>
Otis snatched the letter and tore it open, “Ain’t no letter inside, at all. Jus’ a newspaper clippin’.”<br>
“What’s it say?”<br>
“Talks about the mental asylum fer the criminally insane back home. Seems it caught fire due to arson. Dangerous, home-ee-ci-dal characters escaped. Says they’s currently at large.”<br>
“What’s large about ‘em?” wondered Lester.<br>
“Here’s a picture. Isn’t that Grandpa, Grandma and cousin Bernie in that photo there?”<br>
“Yep, that’s Grandma. That’s her one lazy eye starin’ back atcha.”<br>
“Lookee here, Grandpa done scrawled somethin’ down at the bottom.”<br>
“Whatsit say?”<br>
“It say, ‘Johnny Law hot on our tail. Need a place to hide. Weez comin’ fer a visit.’”<br>
Lester opined in wonder, “Grandpa always had an articulate command of the written language.”<br>
Otis agreed, “Indeed, he displays an eloquent mastery of the pen. But Lester, you know what this here means?”<br>
Lester hollered, “TUNE UP THE BANJOS AND BREAK OUT THE CORN-LICKER. WE GONNA HAVE OURSELVES A FAMILY REUNION!”<br>
“Yeeee-haw!”<br>
<br>
<br>
</p>

<%= image_tag('/images/news_clipping-not_new.png') %>
<p style="font-size:1.8em"><strong>       “McBane Family’s Remains Found in Abandoned Barn at Fairgrounds.  Authorities say the family has been missing since the 1987 Kitsap County Fair.” </p><br><br>
“County workers cleaning out an old barn discovered the gruesome murder scene late Friday afternoon.  Gore, blood and body parts were scattered everywhere inside the dilapidated barn.  Even the seasoned police veterans could barely look at the grotesque death scene without becoming violently ill.”</strong><br>
                           <br>
It has been 23 years since the family disappeared, and the murders are still unsolved.  And every year, people keep disappearing.  In fact, more people have disappeared in Kitsap County over the years than in any other county in the entire United States.  <br><br>
To the outsiders passing through, Bremerton simply appears to be a sleepy little Navy town.  To the residents however, Bremerton is anything but sleepy.  During the day, the town is quaint, life is simple, and people are happy.  During the night, everything changes.  People stay inside, lock their doors, and pray for morning’s light.  It is not safe to be outside at night, especially near the fairgrounds.  Evil comes out to prey.  <br><br>
Every year around October, teens tell horror stories about the McBane family and their horrific deaths.  Dares are made to visit the Fairgrounds in the weeks leading up to the 31st.  Some of the very brave try to stay the night, but all have returned before midnight telling of noises-screams and shouts, the clink of knives being sharpened, chainsaws whirring, and the steady drip…drip…drip of water, or blood, falling to earth.<br><br>
People unfamiliar with the tale scoff and say that the residents are simply over-reacting, there’s nothing to be scared of.  They pay no heed to the cautions to be home before dark, lock doors, or to stay away from the fairgrounds.  Residents have the last laugh though, as tourists have never survived in Bremerton for very long.  The lucky simply go missing.  The less fortunate are found around October and under similar conditions to the McBane family from long ago.<br><br>
In 2010 a new sheriff was elected, under the campaign promise of solving the McBane murders and ridding the town of their curse.  He made a lot of progress, and around August two likely suspects had finally emerged from the darkness.  The first was Otis Kreeper, an imposing man with a scarred, bald head.  Otis is a very peculiar man, who always wears a blood-stained pair of overalls.  He says it is chicken blood.  There has not been enough proof to get a warrant requiring a sample sent out for testing.  Otis likes to leer at the women, getting too close to them and smelling their hair.  When Otis makes his monthly trip to town to buy supplies, he always buys the same four items: huge sewing needles, a shovel, steak sauce, and skin cream.  People are unsure where he gets his money, as he also tries to sell his stinky, hideous, leather clothes.  People are repulsed by them and he never sells any.  Bremerton residents have learned to cross the street when they see this strange man coming.  Tourists stay away simply because he smells.<br><br>
The other suspect discovered was a scumbag carnie by the name of Lester.  He sports a greasy mullet and wears dirty soiled tee shirts.  Lester has been with the carnival for many years.  He lives with Otis in an old barn on county property.  For several years, the county has attempted to evict them.  They refuse to leave and employees refuse to get near them.  Currently, things are at a standstill.  Lester has a strange walk due to a clubfoot that was never repaired.  It drags behind him, leaving a trail through the dirt.  Lester’s only friend is Otis.  The other carnies are cruel and tease him about his mullet, then saying he is the spurned offspring of the old bearded lady.  Lester knows better though.  He is actually the bearded lady’s boyfriend.  Otis and Lester help care for her, trimming and shaving any stray hairs that she is unable to reach.<br><br>
It has been rumored that Otis and Lester are cannibals; that Lester finds potential victims through his work at the carnival.  Otis is the one who captures and butchers the selected few.  In the 23 years that have passed since the McBane family was murdered, Otis and Lester have gotten older and greyer.  They seem to have more difficulty getting around, and it is thought that perhaps the frequent disappearances of those that fail to heed the warnings will stop.  The biggest difference lately is that residents of Bremerton have noticed a lot of construction going on near Otis and Lester’s house.  No one is willing to get closer to inspect it and see what changes are being made.  Bright flashing lights, wire caging, wood panels, and a thick, sturdy, blood-red door have all been seen going in, always carried by Lester or Otis, and occasionally by the old bearded lady.<br><br>
Now it is coming upon October, and the new sheriff is struggling to make good on his promise to rid the town of the evil existing there.  The police force has tried to prove that Otis and Lester are behind the foul and horrific murders, along with all of the disappearances since then, but due to poor collection and handling of evidence, and an intense fear by the deputies, they are struggling.  The sheriff is looking for volunteers to go to the abandoned barn where the McBane family was first found, through the swamp and woods to Otis and Lester’s home.  He thinks that evidence may be found, enough to get a search warrant or to make an arrest.  He believes that the only way to do this is to rely on strength in numbers, feeling that Otis and Lester wouldn’t dare take on hundreds of people at once.  
There are not very many brave enough to volunteer to go…are you?
      </div><br><div style="clear:both"></div><br>
      <div id="column_center_fade"><img src="/images/bottomAlphaFade.png"></div>
   </div>
   <div id="footer">
      <h1><a href="http://www.kitsaphauntedfairgrounds.com" target="_parent" class="center">www.kitsaphauntedfairgrounds.com</a></h1>
   </div>
</div>
