<div id="container" class="tabbertab<%= ' tabbertabdefault' if params[:section] and params[:section] == 'story'%>">
   <h2>Story</h2>
   <div id="main">
      <div id="column_center">

<span style="font-size:1.5em;font-weight:bold">Family Reunion 2011</span><br><br>
<p style="text-align:left">
      </div><br><div style="clear:both"></div><br>
Opening for business this October at the Kitsap County Fairgrounds: the “<strong>Hell's Motel</strong>”.  Be sure to check-in to the establishment that’s already being called sleazy and seedy - a bit unfair as construction isn't even complete!  A doll convention has already booked the conference center: be advised this group has a decidedly warped view, and specializes in voodoo and other distasteful and downright creepy dolls.  If you’re looking for luxurious accommodations, the Hell's Motel is not for you. If you’re interested in a terrifying experience with unsavory, rude, surly, and sometimes homicidal staff - this is your place!
      <div id="column_center_fade"><img src="/images/bottomAlphaFade.png"></div>
   </div>
   <div id="footer">
      <h1><a href="http://www.kitsaphauntedfairgrounds.com" target="_parent" class="center">www.kitsaphauntedfairgrounds.com</a></h1>
   </div>
</div>
